ul {
    list-style-type: none;
}



a {
    text-decoration: none;
    color: brown;
}

.container {
    margin-left: 10cm;
    margin-right: 10cm;
    justify-content: center;
}

img {
    width: 400px;
}